<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Track My Progress</title>

<!-- CSS Files -->
<link type="text/css" href="/static/css/base.css" rel="stylesheet" />
<link type="text/css" href="/static/css/Sunburst.css" rel="stylesheet" />

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/js/jit.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="/static/js/example2.js"></script>
</head>

<body onload="init({{json_object}});">
<div id="container">

<div id="left-container">

	{% if unique_list %}
		<p>{{unique_list}}</p>
		
	{% endif %}

     <!--    <div class="text">
   			{% if all_plan %}
 
		    		<h4>Here is your plan for this week.</h4>

					<ul>
		   	{% for user in all_plan %}
		 
					 	<I>Chapter:{{ user.Chapter  }}</I>
			    {% if user.Goal_old1 != ""  or  user.Goal_old2 != "" %}
						<p> <B>Old</B>
	       		{% endif %}

			    {% if user.Goal_old1 != "" %}
					  	<li> {{ user.Goal_old1 }}</li>
			    {% endif %}
			    {% if user.Goal_old2 != "" %}
					  	<li> {{ user.Goal_old2 }}</li>
			    {% endif %}

				{% if user.Goal_now1 != ""  or  user.Goal_now2 != "" %}
						<p><B> Now</B>
	       		{% endif %}

	     		{% if user.Goal_now1 != "" %}
			  			<li> {{ user.Goal_now1 }}</li>
	       		{% endif %}
	     		{% if user.Goal_now2 != "" %}
			  			<li> {{ user.Goal_now2 }}</li>
	       		{% endif %}
	     		{% if user.Goal_now3 != "" %}
			  			<li> {{ user.Goal_now3 }}</li>
	       		{% endif %}
	     		{% if user.Goal_now4 != "" %}
			  			<li> {{ user.Goal_now4 }}</li>
	       		{% endif %}
    		{% endfor %}
			</ul>
			{#  In case  no user exists.  #}
			{% else %}
				<h3> No plan found.</h3>
			{% endif %}
         </div> -->
    <div id="id-list"></div>
</div>


<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="right-container">

<div id="inner-details"></div>

</div>

<div id="log"></div>
</div>
</body>
</html>
