<!-- Web Page showcases the sunburst based on the name and standard recieved as object from django-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Track My Progress</title>

<!-- CSS Files -->
<link type="text/css" href="/static/css/base.css" rel="stylesheet" />
<link type="text/css" href="/static/css/Sunburst.css" rel="stylesheet" />

<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->

<!-- JIT Library File -->
<script language="javascript" type="text/javascript" src="/static/js/jit.js"></script>

<!-- Example File -->
<script language="javascript" type="text/javascript" src="/static/js/example2.js"></script>
</head>

<!-- Object received from Django -->
{% if json_object %}

	<body onload="init({{json_object}});">
	<div id="container">

	<div id="left-container">

<!-- 		{% if unique_list %}
			<p>{{unique_list}}</p>
			
		{% endif %}
 -->
	    
	<div id="id-list"></div>
	</div>
	
	<div id="center-container">
	    <div id="infovis"></div>    
	</div>

	<div id="right-container">

		<div id="inner-details"></div>

	</div>


	</div>

	<div id="log"></div>

	</body>

{% else %}
	<body>
		<div><p>Progress Tracker will appear on an individual basis</p></div>
	</body>
{% endif %}
</html>
