{% if is_registered %}
    <script>alert("You are successfully registered with Post1: {{ user_obj.Post1 }}")</script> </script>
{% else %}
    <table cellpadding="20">
    <tr><td width="800">
    <form action="{% url 'plan:make_plan' %}" method="post">
    {% csrf_token %}
        <title>Create dynamic 3 dropdown list in javascript</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script language="javascript" type="text/javascript">
        var global_standard = "9th";
        function urlRedirectTo(obj)
	{
				// alert('You reached last step and selected '+obj);
	}
	function dynamicdropdown(listindex)
            {
                document.getElementById("goal1").length = 0;
                document.getElementById("goal1").options[0]=new Option("Please select chapter","");
		document.getElementById("goal3").length = 0;
                document.getElementById("goal3").options[0]=new Option("Please select chapter","");
               // document.getElementById("chapter").length = 0;
                global_standard = listindex;
                switch (listindex)
                {
                    case "7th" :
                        document.getElementById("chapter").options[0] = new Option("Please select a chapter","");
                        document.getElementById("chapter").options[1] = new Option("Complete 1 Term 7th chapters","Complete 1 Term 7th chapters");
                        document.getElementById("chapter").options[2] = new Option("Life Mathematics","Life Mathematics");
                        document.getElementById("chapter").options[3] = new Option("Measurements","Measurements");
                        document.getElementById("chapter").options[4] = new Option("Geometry 7th","Geometry 7th");
                        document.getElementById("chapter").options[5] = new Option("Practical Geometry 7th","Practical Geometry 7th");
						break;

                    case "8th" :
                        document.getElementById("chapter").options[0] = new Option("Please select a chapter","");
                        document.getElementById("chapter").options[1] = new Option("Complete 1 Term 8th chapters","Complete 1 Term 8th chapters");
		        		document.getElementById("chapter").options[2] = new Option("Algebra 8th","Algebra 8th");
                        document.getElementById("chapter").options[3] = new Option("Practical Geometry 8th","Practical Geometry 8th");
                        document.getElementById("chapter").options[4] = new Option("Graph","Graph");
						break;
                    case "9th" :
                        document.getElementById("chapter").options[0] = new Option("Please select a chapter","");
                        document.getElementById("chapter").options[1] = new Option("Complete 1 Term 9th chapters","Complete 1 Term 9th chapters");
	                	document.getElementById("chapter").options[2] = new Option("Algebra 9th","Algebra 9th");
                        document.getElementById("chapter").options[3] = new Option("Trigonometry","Trigonometry");
                        document.getElementById("chapter").options[4] = new Option("Statistics","Statistics");
                        document.getElementById("chapter").options[5] = new Option("Practical Geometry 9th","Practical Geometry 9th");
			            break;
                   
                    default:
                        document.getElementById("chapter").options[0]=new Option("Please select chapter","");
                        break;
                }
                document.getElementById("name").length = 0;

                switch (listindex)
                {
                    case "7th" :
                        document.getElementById("name").options[0] = new Option("Please select your name","");
                        document.getElementById("name").options[1] = new Option("Aarthi","Aarthi");
		                document.getElementById("name").options[2] = new Option("Abinaya","Abinaya");
			            document.getElementById("name").options[3] = new Option("Anisha","Anisha");
                        document.getElementById("name").options[4] = new Option("Aravindh","Aravindh");
                        document.getElementById("name").options[5] = new Option("Avinisha","Avinisha");
                        document.getElementById("name").options[6] = new Option("Gunasundari","Gunasundari");
                        document.getElementById("name").options[7] = new Option("Jeevanandam","Jeevanandam");
                        document.getElementById("name").options[8] = new Option("Janani","Janani");
                        document.getElementById("name").options[9] = new Option("Larasem","Larasem");
                        document.getElementById("name").options[10] = new Option("Muralidharan","Muralidharan");
                        document.getElementById("name").options[11] = new Option("Pranavraj","Pranavraj");
                        document.getElementById("name").options[12] = new Option("Sindhu","Sindhu");
                        document.getElementById("name").options[13] = new Option("Sivashakthi","Sivashakthi");
			            document.getElementById("name").options[14] = new Option("Vishal","Vishal"); 
			            document.getElementById("name").options[15] = new Option("Yuvanraj","Yuvanraj"); 	
						break;
                    case "8th" :
                        document.getElementById("name").options[0] = new Option("Please select your name","");
						document.getElementById("name").options[1] = new Option("Abinesh","Abinesh");
						document.getElementById("name").options[2] = new Option("Adithyan","Adithyan");
						document.getElementById("name").options[3] = new Option("Agalya","Agalya");
                        document.getElementById("name").options[4] = new Option("Amirthavalli","Amirthavalli");
						document.getElementById("name").options[5] = new Option("Ashwethakamali","Ashwethakamali");
						document.getElementById("name").options[6] = new Option("Baranidharan","Baranidharan");
			            document.getElementById("name").options[7] = new Option("Devakaran","Devakaran");
                        document.getElementById("name").options[8] = new Option("Divya.B","Divya.B");
                        document.getElementById("name").options[9] = new Option("Divya.M","Divya.M");
						 document.getElementById("name").options[10] = new Option("Magendrapathi","Magendrapathi");
                        document.getElementById("name").options[11] = new Option("Naveen","Naveen");
						document.getElementById("name").options[12] = new Option("Nirmal","Nirmal");
                        document.getElementById("name").options[13] = new Option("Pavithra","Pavithra");
                        document.getElementById("name").options[14] = new Option("Shalini","Shalini");
						document.getElementById("name").options[15] = new Option("Sushma","Sushma");
						document.getElementById("name").options[16] = new Option("Thamizharasi","Thamizharasi");
					    document.getElementById("name").options[17] = new Option("Vikram","Vikram");
						
                        
                        
			           
                        
                        
			            break;
                    case "9th" :
			document.getElementById("name").options[0]  = new Option("Please select your name","");
			            document.getElementById("name").options[1]  = new Option("Abitha","Abitha");
			            document.getElementById("name").options[2]  = new Option("Amsavalli","Amsavalli");
			            document.getElementById("name").options[3]  = new Option("Anandhi","Anandhi");
						document.getElementById("name").options[4] = new Option("ArulDeva","ArulDeva");
			            document.getElementById("name").options[5]  = new Option("Hariharan","Hariharan");
			            document.getElementById("name").options[6]  = new Option("Hemasundar","Hemasundar");
						document.getElementById("name").options[7] = new Option("Iyyanar","Iyyanar");
						document.getElementById("name").options[8] = new Option("Kabilan","Kabilan");
			            document.getElementById("name").options[9]  = new Option("Karnan","Karnan");
			            document.getElementById("name").options[10]  = new Option("Lavanya","Lavanya");
						document.getElementById("name").options[11] = new Option("Punithavel","Punithavel");
			            document.getElementById("name").options[12]  = new Option("Ranjitha","Ranjitha");
						document.getElementById("name").options[13] = new Option("Sooriya","Sooriya");
			            document.getElementById("name").options[14]  = new Option("Velmurgan","Velmurgan");
			            document.getElementById("name").options[15] = new Option("Viknesh","Viknesh");			           
			            
                        break;					 
                    default:
                        document.getElementById("name").options[0]=new Option("Please select name","");
                        break;
                }

                return true;
            }
       function dynamicdropdown_student(listvalue)
         {
	     var standard;
             standard = "9th";
	     // var querystring = window.location.querystring;
	     // var myValue = querystring["useid"];
             document.getElementById("animptext").innerHTML ="";
             document.getElementById("imageplus").src = "/static/plan/all_student_pics/".concat(global_standard).concat("/").concat(listvalue).concat(".jpg");
         }         

 
           function dynamicdropdownone(listindex)
            {
                document.getElementById("goal1").length = 0;
                switch (listindex)
                
                {
                    case "Complete 1 Term 7th chapters" :
                        document.getElementById("goal1").options[0] = new Option("Real Number System 7th","Real Number System 7th");
                        document.getElementById("goal1").options[1]= new Option("Four Fundamental Operations on Integers","Four Fundamental Operations on Integers");
                        document.getElementById("goal1").options[2]= new Option("Properties of Addition of integers","Properties of Addition of integers");
                        document.getElementById("goal1").options[3]=new Option("Properties of subtraction of integers","Properties of subtraction of integers");
                        document.getElementById("goal1").options[4]= new Option("Properties of multiplication of integers","Properties of multiplication of integers");
                        document.getElementById("goal1").options[5]=new Option("Properties of division of integers","Properties of division of integers");
                        document.getElementById("goal1").options[6]= new Option("Fractions","Fractions");
                        document.getElementById("goal1").options[7]= new Option("Representation of Rational numbers on the Number line.","Representation of Rational numbers on the Number line.");
                        document.getElementById("goal1").options[8]= new Option("Four Basic Operations on Rational numbers","Four Basic Operations on Rational numbers");
                        document.getElementById("goal1").options[9]= new Option("Decimal numbers","Decimal numbers");
                        document.getElementById("goal1").options[10]= new Option("Powers","Powers");
                        document.getElementById("goal1").options[11]= new Option("Algebraic Expressions","Algebraic Expressions")
                        document.getElementById("goal1").options[12]= new Option("Geometry 7th","Geometry 7th");
                        document.getElementById("goal1").options[13]= new Option("Practical Geometry 7th","Practical Geometry 7th");
                        document.getElementById("goal1").options[14]= new Option("Data Handling","Data Handling");
                        break;

                    break;
                    case "Life Mathematics" :
                        document.getElementById("goal1").options[0] = new Option("I should know multiplication of fractions.","I should know multiplication of fractions.");
                        document.getElementById("goal1").options[1] = new Option("I should know multiplication, division of integers.","I should know multiplication, division of integers.");
                        document.getElementById("goal1").options[2] = new Option("I should know how to reduce fraction to lowest form.","I should know how to reduce fraction to lowest form.");
                        document.getElementById("goal1").options[3] = new Option("I should know how to find the value of a variable.","I should know how to find the value of a variable.");
                    break;
                    case "Measurements" :
                        document.getElementById("goal1").options[0] = new Option("I should know the formulae for area and perimeter for rectangle, square and right angle triangle.","I should know the formulae for area and perimeter for rectangle, square and right angle triangle.");
                    break;
                    case "Geometry 7th" :
                        document.getElementById("goal1").options[0] = new Option("I should know the different types of angles.","I should know the different types of angles.");
                        document.getElementById("goal1").options[1] = new Option("I should know how to find an angle in a straight line.","I should know how to find an angle in a straight line.");
                    break;
                    case "Practical Geometry 7th" :
                       document.getElementById("goal1").options[0] = new Option("I should know angle bisector","I should know angle bisector");
                    break;
                    case "Complete 1 Term 8th chapters" :
                        document.getElementById("goal1").options[0] = new Option("Real Numbers 8th", "Real Numbers 8th");
                        document.getElementById("goal1").options[1] = new Option("Measurements","Measurements");
                        document.getElementById("goal1").options[2] = new Option("Geometry 8th","Geometry 8th");
                        document.getElementById("goal1").options[3] = new Option("Practical Geometry 8th","Practical Geometry 8th");
                    break;
                    case "Algebra 8th" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to distinguish variables, constants, co efficient of terms and degree of expressions in an algebraic expression.","I should be able to distinguish variables, constants, co efficient of terms and degree of expressions in an algebraic expression.");
                        document.getElementById("goal1").options[1] = new Option("I should be able to do addition and subtraction of Algebraic Expressions.","I should be able to do addition and subtraction of Algebraic Expressions.");
                        document.getElementById("goal1").options[2] = new Option("I should be able to write down an algebraic expression as Term, Factor and Coefficient.","I should be able to write down an algebraic expression as Term, Factor and Coefficient.");
                        document.getElementById("goal1").options[3] = new Option("I should be able to tell an algebraic expression as Monomial, Binomial, Trinomial and Polynomial.","I should be able to tell an algebraic expression as Monomial, Binomial, Trinomial and Polynomial.");
                        document.getElementById("goal1").options[4] = new Option("I should be able to identify the like and unlike terms in the algebraic expression.","I should be able to identify the like and unlike terms in the algebraic expression.");
                        document.getElementById("goal1").options[5] = new Option("I should be able to do advance addition and subtraction of Algebraic Expressions.","I should be able to do advance addition and subtraction of Algebraic Expressions.");
                        document.getElementById("goal1").options[6] = new Option("I should be able to multiply two Monomials","I should be able to multiply two Monomials");
                        document.getElementById("goal1").options[7] = new Option("I should be able to  multiply a Monomial by a Binomial","I should be able to  multiply a Monomial by a Binomial");
                        document.getElementById("goal1").options[8] = new Option("I should be able to multiply a Monomial by a Polynomial","I should be able to multiply a Monomial by a Polynomial");
                        document.getElementById("goal1").options[9] = new Option("I should be able to multiply a Binomial by a Binomial","I should be able to multiply a Binomial by a Binomial");
                        document.getElementById("goal1").options[10] = new Option("I should be able to  multiply a Binomial by a Trinomial","I should be able to  multiply a Binomial by a Trinomial");
                        document.getElementById("goal1").options[11] = new Option("I should be able to apply Algebraic Identity (a + b)2","I should be able to apply Algebraic Identity (a + b)2");
                        document.getElementById("goal1").options[12] = new Option("I should be able to apply Algebraic Identity  (a - b)2","I should be able to apply Algebraic Identity  (a - b)2");
                        document.getElementById("goal1").options[13] = new Option("I should be able to apply Algebraic Identity  (a + b)(a - b)","I should be able to apply Algebraic Identity  (a + b)(a - b)");
                        document.getElementById("goal1").options[14] = new Option("I should be able to apply Algebraic Identity  (x + a)(x + b)","I should be able to apply Algebraic Identity  (x + a)(x + b)");
                        document.getElementById("goal1").options[15] = new Option("I should be able to do factorization by taking out the common factor","I should be able to do factorization by taking out the common factor");
                        document.getElementById("goal1").options[16] = new Option("I should be able to do factorization by Grouping the terms","I should be able to do factorization by Grouping the terms");
                        document.getElementById("goal1").options[17] = new Option("I should be able to do factorization by using the Identity","I should be able to do factorization by using the Identity");
                        document.getElementById("goal1").options[18] = new Option("I should be able to do division of a Monomial by another Monomial","I should be able to do division of a Monomial by another Monomial");
                        document.getElementById("goal1").options[19] = new Option("I should be able to do division of a Polynomial by a Monomial and Binomial","I should be able to do division of a Polynomial by a Monomial and Binomial");
                        document.getElementById("goal1").options[20] = new Option("I should be able solve Linear Equations in one variable","I should be able solve Linear Equations in one variable");
                    break;
                    case "Practical Geometry 8th" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to find the area of Rhombus, Rectangle and Square.","I should be able to find the area of Rhombus, Rectangle and Square.");
                        document.getElementById("goal1").options[1] = new Option("I should be able to construct Rhombus based on the given measurements and also find its area.","I should be able to construct Rhombus based on the given measurements and also find its area.");
                        document.getElementById("goal1").options[2] = new Option("I should be able to construct Rectangle based on the given measurements and also find its area.","I should be able to construct Rectangle based on the given measurements and also find its area.");
                        document.getElementById("goal1").options[3] = new Option("I should be able to construct Square based on the given measurements and also find its area.","I should be able to construct Square based on the given measurements and also find its area.");
                    break;
                    case "Graph" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to apply the concept of co-ordinate system and able to plot given points.","I should be able to apply the concept of co-ordinate system and able to plot given points.");
                        document.getElementById("goal1").options[1] = new Option("I should be able to draw straight lines and parallel lines to the coordinate axes.","I should be able to draw straight lines and parallel lines to the coordinate axes.");
                        document.getElementById("goal1").options[2] = new Option("I should be able to find the area of Plane Figures.","I should be able to find the area of Plane Figures.");
                        document.getElementById("goal1").options[3] = new Option("I should be able to draw linear graph of Time and Distance Graph","I should be able to draw linear graph of Time and Distance Graph");
                        document.getElementById("goal1").options[4] = new Option("I should be able to draw linear graph of  Perimeter–side graph of a square","I should be able to draw linear graph of  Perimeter–side graph of a square");
                        document.getElementById("goal1").options[5] = new Option("I should be able to draw linear graph of  Area as a function of side of a square","I should be able to draw linear graph of  Area as a function of side of a square");
                        document.getElementById("goal1").options[6] = new Option("I should be able to draw linear graph of  Plotting a graph of different multiples of numbers","I should be able to draw linear graph of  Plotting a graph of different multiples of numbers");
                        document.getElementById("goal1").options[7] = new Option("I should be able to draw linear graph of  Simple Interest–Time graph","I should be able to draw linear graph of  Simple Interest–Time graph");
                        document.getElementById("goal1").options[8] = new Option("I should be able to read Linear Graphs","I should be able to read Linear Graphs");
                    break;
                    case "Complete 1 Term 9th chapters" :
                        document.getElementById("goal1").options[0] = new Option("Theory of Sets","Theory of Sets");
                        document.getElementById("goal1").options[1] = new Option("Real Number System 9th","Real Number System 9th");
                        document.getElementById("goal1").options[2] = new Option("Algebra","Algebra");
                        document.getElementById("goal1").options[3] = new Option("Geometry 9th","Geometry 9th");
                        document.getElementById("goal1").options[4] = new Option("Co-ordinate Geometry","Co-ordinate Geometry");
                        document.getElementById("goal1").options[5] = new Option("Practical Geometry 9th","Practical Geometry 9th");
                    break;
                    case "Algebra 9th" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to classify polynomials and degrees.","I should be able to classify polynomials and degrees.");
                        document.getElementById("goal1").options[1] = new Option("I should be able to factorize a polynomial.","I should be able to factorize a polynomial.");
                        document.getElementById("goal1").options[2] = new Option("I should be able to solve linear equations in two variables.","I should be able to solve linear equations in two variables.");
                        document.getElementById("goal1").options[3] = new Option("I should be able to solve linear equations in one variable.","I should be able to solve linear equations in one variable.");
                        document.getElementById("goal1").options[4] = new Option("I should be able to know the algebraic identities and use them to solve problems","I should be able to know the algebraic identities and use them to solve problems");
                    break;
                    case "Trigonometry" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to understand and use Trigonometric Ratios to solve problems","I should be able to understand and use Trigonometric Ratios to solve problems");
                        document.getElementById("goal1").options[1] = new Option("I should be able to understand Trigonometric Ratios of Complementary Angles and solve them","I should be able to understand Trigonometric Ratios of Complementary Angles and solve them");
                        document.getElementById("goal1").options[2] = new Option("I should be able to know Trigonometric Table","I should be able to know Trigonometric Table");
                    break;
                    case "Statistics" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to draw Histogram, Frequency Polygon","I should be able to draw Histogram, Frequency Polygon");
                        document.getElementById("goal1").options[1] = new Option("I should be able to find Measures of Central Tendency : Mean, Median and Mode","I should be able to find Measures of Central Tendency : Mean, Median and Mode");
                    break;
                    case "Practical Geometry 9th" :
                        document.getElementById("goal1").options[0] = new Option("I should be able to construct perpendicular bisector.","I should be able to construct perpendicular bisector.");
                        document.getElementById("goal1").options[1] = new Option("Now","Now");
                        document.getElementById("goal1").options[2] = new Option("I should be able to construct the Incentre","I should be able to construct the Incentre");
                        document.getElementById("goal1").options[3] = new Option("I should be able to construct the Centroid","I should be able to construct the Centroid");
                        break;
                        default:
                        document.getElementById("goal1").options[0]=new Option("Please select the goals","");
                        break;
               
                }				
            function dynamicdropdownone(listindex)
            {
						
				}
                document.getElementById("goal3").length = 0;
                switch (listindex)
                {
                    case "Life Mathematics" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to write ratios as fractions","I should be able to write ratios as fractions");
                        document.getElementById("goal3").options[1] = new Option("I should be able to determine the lowest form of a given ratio.","I should be able to determine the lowest form of a given ratio.");
                        document.getElementById("goal3").options[2] = new Option("I should be able to relate ratio stories to problems","I should be able to relate ratio stories to problems");
                        document.getElementById("goal3").options[3] = new Option("I should be able to differentiate direct variation and inverse variation and solve for each.","I should be able to differentiate direct variation and inverse variation and solve for each.");
                    break;
                    case "Measurements" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to determine the perimeter of given shape.(Polygons)","I should be able to determine the perimeter of given shape.(Polygons)");
                        document.getElementById("goal3").options[1] = new Option("I should be able to determine the area of given shapes (square, rectangle, triangle, combination of shapes.)","I should be able to determine the area of given shapes (square, rectangle, triangle, combination of shapes.)");
                        document.getElementById("goal3").options[2] = new Option("I should be able to determine the area of different types of triangles.","I should be able to determine the area of different types of triangles.");
                        document.getElementById("goal3").options[3] = new Option("I should be able to find the area of given quadrilateral.","I should be able to find the area of given quadrilateral.");
                        document.getElementById("goal3").options[4] = new Option("I should know when two lines are parallel.","I should know when two lines are parallel.");
                        document.getElementById("goal3").options[5] = new Option("I should be able to find the area of a parallelogram.","I should be able to find the area of a parallelogram.");
                        document.getElementById("goal3").options[6] = new Option("I should be able to find the area of a rhombus.","I should be able to find the area of a rhombus.");
                    break;
                    case "Geometry 7th" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to identify: Interior angles, Interior alternate angles, Exterior angles, Exterior,  alternate angles., Corresponding angles","I should be able to identify: Interior angles, Interior alternate angles, Exterior angles, Exterior,  alternate angles., Corresponding angles");
                        document.getElementById("goal3").options[1] = new Option("I should know how each angle corresponds to another when a parallel line is intersected by a traversal line.","I should know how each angle corresponds to another when a parallel line is intersected by a traversal line.");
                        document.getElementById("goal3").options[2] = new Option("I should be able to find the different angles formed by intersection of two lines","I should be able to find the different angles formed by intersection of two lines");
                    break;
                    case "Practical Geometry 7th" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to construct different angels (30,60,90,120) using a compass and scale.","I should be able to construct different angels (30,60,90,120) using a compass and scale.");
                    break;
                    case "Algebra 8th" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to write down an algebraic expression as Term, Factor and Coefficient.","I should be able to write down an algebraic expression as Term, Factor and Coefficient.");
                        document.getElementById("goal3").options[1] = new Option("I should be able to tell an algebraic expression as Monomial, Binomial, Trinomial and Polynomial.","I should be able to tell an algebraic expression as Monomial, Binomial, Trinomial and Polynomial.");
                        document.getElementById("goal3").options[2] = new Option("I should be able to identify the like and unlike terms in the algebraic expression.","I should be able to identify the like and unlike terms in the algebraic expression.");
                        document.getElementById("goal3").options[3] = new Option("I should be able to do advance addition and subtraction of Algebraic Expressions.","I should be able to do advance addition and subtraction of Algebraic Expressions.");
                        document.getElementById("goal3").options[4] = new Option("I should be able to multiply two Monomials","I should be able to multiply two Monomials");
                        document.getElementById("goal3").options[5] = new Option("I should be able to  multiply a Monomial by a Binomial","I should be able to  multiply a Monomial by a Binomial");
                        document.getElementById("goal3").options[6] = new Option("I should be able to multiply a Monomial by a Polynomial","I should be able to multiply a Monomial by a Polynomial");
                        document.getElementById("goal3").options[7] = new Option("I should be able to multiply a Binomial by a Binomial","I should be able to multiply a Binomial by a Binomial");
                        document.getElementById("goal3").options[8] = new Option("I should be able to  multiply a Binomial by a Trinomial","I should be able to  multiply a Binomial by a Trinomial");
                        document.getElementById("goal3").options[9] = new Option("I should be able to apply Algebraic Identity (a + b)2","I should be able to apply Algebraic Identity (a + b)2");
                        document.getElementById("goal3").options[10] = new Option("I should be able to apply Algebraic Identity  (a - b)2","I should be able to apply Algebraic Identity  (a - b)2");
                        document.getElementById("goal3").options[11] = new Option("I should be able to apply Algebraic Identity  (a + b)(a - b)","I should be able to apply Algebraic Identity  (a + b)(a - b)");
                        document.getElementById("goal3").options[12] = new Option("I should be able to apply Algebraic Identity  (x + a)(x + b)","I should be able to apply Algebraic Identity  (x + a)(x + b)");
                        document.getElementById("goal3").options[13] = new Option("I should be able to do factorization by taking out the common factor","I should be able to do factorization by taking out the common factor");
                        document.getElementById("goal3").options[14] = new Option("I should be able to do factorization by Grouping the terms","I should be able to do factorization by Grouping the terms");
                        document.getElementById("goal3").options[15] = new Option("I should be able to do factorization by using the Identity","I should be able to do factorization by using the Identity");
                        document.getElementById("goal3").options[16] = new Option("I should be able to do division of a Monomial by another Monomial","I should be able to do division of a Monomial by another Monomial");
                        document.getElementById("goal3").options[17] = new Option("I should be able to do division of a Polynomial by a Monomial and Binomial","I should be able to do division of a Polynomial by a Monomial and Binomial");
                        document.getElementById("goal3").options[18] = new Option("I should be able solve Linear Equations in one variable","I should be able solve Linear Equations in one variable");
                    break;
                    case "Practical Geometry 8th" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to construct Rhombus based on the given measurements and also find its area.","I should be able to construct Rhombus based on the given measurements and also find its area.");
                        document.getElementById("goal3").options[1] = new Option("I should be able to construct Rectangle based on the given measurements and also find its area.","I should be able to construct Rectangle based on the given measurements and also find its area.");
                        document.getElementById("goal3").options[2] = new Option("I should be able to construct Square based on the given measurements and also find its area.","I should be able to construct Square based on the given measurements and also find its area.");
                    break;
                    case "Graph" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to apply the concept of co-ordinate system and able to plot given points.","I should be able to apply the concept of co-ordinate system and able to plot given points.");
                        document.getElementById("goal3").options[1] = new Option("I should be able to draw straight lines and parallel lines to the coordinate axes.","I should be able to draw straight lines and parallel lines to the coordinate axes.");
                        document.getElementById("goal3").options[2] = new Option("I should be able to find the area of Plane Figures.","I should be able to find the area of Plane Figures.");
                        document.getElementById("goal3").options[3] = new Option("I should be able to draw linear graph of Time and Distance Graph","I should be able to draw linear graph of Time and Distance Graph");
                        document.getElementById("goal3").options[4] = new Option("I should be able to draw linear graph of  Perimeter–side graph of a square","I should be able to draw linear graph of  Perimeter–side graph of a square");
                        document.getElementById("goal3").options[5] = new Option("I should be able to draw linear graph of  Area as a function of side of a square","I should be able to draw linear graph of  Area as a function of side of a square");
                        document.getElementById("goal3").options[6] = new Option("I should be able to draw linear graph of  Plotting a graph of different multiples of numbers","I should be able to draw linear graph of  Plotting a graph of different multiples of numbers");
                        document.getElementById("goal3").options[7] = new Option("I should be able to draw linear graph of  Simple Interest–Time graph","I should be able to draw linear graph of  Simple Interest–Time graph");
                        document.getElementById("goal3").options[8] = new Option("I should be able to read Linear Graphs","I should be able to read Linear Graphs");
                    break;
                    case "Algebra 9th" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to solve linear equations in two variables.","I should be able to solve linear equations in two variables.");
                        document.getElementById("goal3").options[1] = new Option("I should be able to solve linear equations in one variable.","I should be able to solve linear equations in one variable.");
                        document.getElementById("goal3").options[2] = new Option("I should be able to know the algebraic identities and use them to solve problems","I should be able to know the algebraic identities and use them to solve problems");
                    break;
                    case "Trigonometry" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to understand and use Trigonometric Ratios to solve problems","I should be able to understand and use Trigonometric Ratios to solve problems");
                        document.getElementById("goal3").options[1] = new Option("I should be able to understand Trigonometric Ratios of Complementary Angles and solve them","I should be able to understand Trigonometric Ratios of Complementary Angles and solve them");
                        document.getElementById("goal3").options[2] = new Option("I should be able to know Trigonometric Table","I should be able to know Trigonometric Table");
                    break;
                    case "Statistics" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to draw Histogram, Frequency Polygon","I should be able to draw Histogram, Frequency Polygon");
                        document.getElementById("goal3").options[1] = new Option("I should be able to find Measures of Central Tendency : Mean, Median and Mode","I should be able to find Measures of Central Tendency : Mean, Median and Mode");
                    break;
                    case "Practical Geometry 9th" :
                        document.getElementById("goal3").options[0] = new Option("I should be able to construct the Incentre","I should be able to construct the Incentre");
                        document.getElementById("goal3").options[1] = new Option("I should be able to construct the Centroid","I should be able to construct the Centroid");

                    break;
                     default:
                        document.getElementById("goal3").options[0]=new Option("Please select the goals","");
                        break;
		}
                return true;
            }
       </script>
    </head>
    <title>Dynamic Drop Down List</title>
    <body>
		<h1>This is your weekly plan. 
			<br>Please select one topic and some goals under it.</br> 
		</h1>
        <div class="standard_div" id="standard_div">Please select your standard:
            <select name="standard" class="required-entry" id="standard" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value);">
                <option value="">Select Standard</option>
                <option value="7th">Grade 7th</option>
                <option value="8th">Grade 8th</option>
                <option value="9th">Grade 9th</option>
            </select>
        </div><p>
	        <div class="animptext" id="animptext"></div><p>
        <div class="name_div" id="name_div">Please select your name:
            <script type="text/javascript" language="JavaScript">
                document.write('<select name="name" id="name" onchange="javascript: dynamicdropdown_student(this.options[this.selectedIndex].value);"><option value="">Please select student name</option></select>')
            </script>
            <noscript>
                <select name="name" id="name" >
                    <option value="">Please select name </option>
                </select>
            </noscript>
        </div><p>

{% load static %}
  <!-- <img id="imageplus" alt="" src="{% static "/9th/Abitha.jpg" %}" align="right" width="200" ></img> 
-->

        <div class="sub_category_div" id="sub_category_div">Please select a Chapter:
            <script type="text/javascript" language="JavaScript">
                document.write('<select name="chapter" id="chapter" onchange="javascript: dynamicdropdownone(this.options[this.selectedIndex].value);"><option value="">Please select a chapter</option></select>')
            </script>
            <noscript>
                <select name="chapter" id="chapter" >
                    <option value="">Please select chapter</option>
                </select>
            </noscript>
        </div><p>

       <div>
	 <div class="goal1_div" id="goal1_div">Please select the Old Goal:
	<select data placeholder="Choose some old goals..." name="goal1"  multiple="multiple" id="goal1"><option value=""></option></select>
        <!-- <select class="chosen-select" name="goal1" id="goal1"><option value="">Please select goal version</option></select>-->
        </div><p>
	<div class="goal3_div" id="goal3_div">Please select the Now Goal:
        <select data-placeholder="Choose some old goals..." multiple="multiple" name="goal3" id="goal3"><option value=""></option></select>
 		   
        </div>
		
   <table>
    {% for field in form %}
       <tr><td>{{field.label_tag}}</td><td>{{field}}</td></tr>
    {% endfor %}
    </table>

   
   <p>  <input type="submit" value="Submit">
 
{% endif %}
</td>
<td>
         <img id="imageplus" alt="student_pic" src="{% static "plan/all_student_pics/Dummy.jpg" %}" align="center" width="200" style="vertical-align:bottom"/>
</td></tr>
	</form>
    </body>
</html>                            
