<!-- For printing the Outcomes of all students to display on notice board -->
<html>
<body>
<style>
table, th, td {
    border: 1px solid black;
}</style>
<h1>Here is the plan for this week.</h1>
<table>
{% if students_of_a_grade %}
  {% for student in students_of_a_grade %}
     	  <tr><td> {{student.Name}} </td>
		<td>
           {% for user in all_plan %}
        	{%if student.Name == user.Name %}	
			<b>{{user.Chapter}}</b><br>
			{% if user.Goal_old1 != "" %}
				<div><i>Old</i><br>
				{{user.Goal_old1}}<br>
			{%endif%}
			{% if user.Goal_now1 != "" %}
				<i>Now</i><br>
				{{user.Goal_now1}}<br></div>
			{%endif%}
		{% endif %}
            {% endfor %}
        </tr>
   {% endfor %}
</table>
{% endif %}
</body>
</html>
