
<html>
<title> Week Plan6/3/2017  </title>
<link rel="stylesheet" href="w3.css">

<body>
<h1> Week Plan </h1>

<table class="w3-table w3-bordered">
    

    <tr>
    <td><b>Abitha
    </b></td>


    <td>I should be able to draw pie chart for given data.
I should be able to calculate Arithmetic Mean (A.M).
I should be able to calculate Arithmetic mean for ungrouped data.
I should be able to calculate Arithmetic mean for grouped data.
I should be able to calculate Weighted Arithmetic Mean (W.A.M).
    </td>
    </tr>
    

    <tr>
    <td><b>Amsavalli
    </b></td>


    <td>I should be able to draw pie chart for given data. I should be able to calculate Arithmetic Mean (A.M). I should be able to calculate Arithmetic mean for ungrouped data. I should be able to calculate Arithmetic mean for grouped data. I should be able to calculate Weighted Arithmetic Mean (W.A.M).
    </td>
    </tr>
    

    <tr>
    <td><b>Anandhi
    </b></td>


    <td>1.I should be able to understand and apply following concept in solving problems ,Mediam,Mode.
    </td>
    </tr>
    

    <tr>
    <td><b>ArulDeva
    </b></td>


    <td>1.I should be able to draw pie chart for given data and fraction
2.Multipplication
    </td>
    </tr>
    

    <tr>
    <td><b>Hariharan
    </b></td>


    <td>I should be able to calculate Weighted Arithmetic Mean (W.A.M).
    </td>
    </tr>
    

    <tr>
    <td><b>HemaSundar
    </b></td>


    <td>1.I should be able to create a frequency table for an ungrouped data.
 2.I should be able to calculate Discount.
3.I should be able to draw pie chart for given data.
    </td>
    </tr>
    

    <tr>
    <td><b>Iyyanar
    </b></td>


    <td>I should be able to create a frequency table for an ungrouped data.
I should be able to draw Histogram and Frequency Polygon for Grouped Data.
I should be able to draw a histogram for continuous frequency distribution
I should be able to draw a histogram for when class intervals are not continuous.
I should be able to draw frequency polygon using histogram.
I should be able to draw frequency polygon without using histogram
    </td>
    </tr>
    

    <tr>
    <td><b>Kabilan
    </b></td>


    <td>I should be able to draw pie chart for given data.
    </td>
    </tr>
    

    <tr>
    <td><b>Karnan
    </b></td>


    <td>I should be able to understand and apply following concept in solving problems ,
Median
Centroid
Altitude
Orthocentre
Incentre
I should be able to find out the hypotenuse or height or base of a Right angle triangle using Pythagoras theorem.
    </td>
    </tr>
    

    <tr>
    <td><b>Lavanya
    </b></td>


    <td>I should be able to understand and apply following concept in solving problems ,
Median
Centroid
Altitude
Orthocentre
Incentre
Angle bisector 
Perpendicular bisector
Circumcentrecccc
I should be able to find out the hypotenuse or height or base of a Right angle triangle using Pythagoras theorem.
I should be able to understand following concepts in Circle and apply it in solving problems,
Circle
Chord
Diameter
Radius
Secant of a circle
Tangent
Arc, Segment and Sector





    </td>
    </tr>
    

    <tr>
    <td><b>Muthulakshmi
    </b></td>


    <td>I should be able to calculate Median.
    </td>
    </tr>
    

    <tr>
    <td><b>Punithavel
    </b></td>


    <td>I should be able to create a frequency table for an ungrouped data.
    </td>
    </tr>
    

    <tr>
    <td><b>Ranjitha
    </b></td>


    <td>1.I should be able to calculate Loss.
2.I should be able to apply Profit, Loss and Overhead Expenses calculation to find out the Selling or Cost price.  
    </td>
    </tr>
    

    <tr>
    <td><b>Surya
    </b></td>


    <td>I should be able to do Percentage. I should be able to calculate Profit. I should be able to calculate Loss. I should be able to calculate Simple Interest.
    </td>
    </tr>
    

    <tr>
    <td><b>Velmurugan
    </b></td>


    <td>I should be able to calculate Mode.
I should be able to calculate Mode for ungrouped data (Discrete data).
I should be able to calculate Mode for ungrouped data (Frequency distribution).
    </td>
    </tr>
    

    <tr>
    <td><b>Vignesh
    </b></td>


    <td>I should be able to draw pie chart for given data.
    </td>
    </tr>
    

</table>
</body>
</html>
    
